@import "tailwindcss";
@import "./colorTheme.css";

/* 字体导入 */
@import url(https://fonts.loli.net/css2?family=Inter:wght@300;400;500;600;700&display=swap);
body {
    font-family: 'Inter', sans-serif;
}

@theme {
  --font-sans: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    /* 使用上面定义的 theme 变量 */
    font-family: var(--font-sans);
    @apply antialiased text-slate-900 bg-white dark:bg-slate-950 dark:text-slate-100;
  }
}

@layer components {
  /* Custom scrollbar */
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-slate-200 dark:bg-slate-700 rounded-full;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-300 dark:bg-slate-600;
  }
}